@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Header*/
.navbar ul {
  list-style-type: none;
  background-color: chocolate;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

/* .button {
  width: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
} */

/* .button-2 {
  color: #fff;
  border: 3px solid #c266d3;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #c266d3;
} */

.navbar {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.navbar button {
  font-size: 20px;
  color: white;
  padding: 15px;
  display: inline-block;
  background-image: -webkit-linear-gradient(
    30deg,
    chocolate 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, chocolate 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.navbar button:hover {
  background-position: 100%;
  color: chocolate;
  background-color: #1f272a;
  border-radius: 0%;
}

.ecart-icon {
  justify-content: center;
}

/* .navbar a:hover {
  background-color: darkgrey;
} */

.navbar li {
  float: right;
}

.navbar li.Logo {
  float: left;
}
/*Header*/

/*Index Body*/

body {
  color: white;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

  .btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    width: 100%;
    position: relative;
    /* text-align: center; */
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .btn-flip:hover:after {
    transform: translateY(0) rotateX(0);
  }
  .btn-flip:hover:before {
    transform: translateY(50%) rotateX(90deg);
  }
  .btn-flip:after {
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    display: block;
    transition: 0.3s;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  .btn-flip:before {
    top: 0;
    left: 0;
    text-align: left;
    display: block;
    transition: 0.3s;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }

  .payment-info {
    background: #d2691e;
    padding: 150px 30px 150px 30px;
    border-radius: 10px;
    color: #ffffff;
  }

  .remove {
    background-color: transparent;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    border: none;
    margin-left: 10px;
    padding: none;
  }

  .discount-code {
    border-radius: 7px;
    padding: 5px;
    border-style: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

  /* .checkout-button-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  } */

  .checkout-button {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .fa-solid {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 50%;
    border-style: none;
    width: 32px;
    height: 32px;
    color: #252525;
    font-size: 16px;
    line-height: 1;
    margin: 0 5px;
  }

  .fa-solid:hover {
    background-color: #9d9d9d;
    color: #000;
  }

  /* Style for quantity span */
  .quantity {
    margin: 0 10px;
    font-size: 1rem;
    font-weight: bold;
  }

  /* Style the remove button */
  .remove {
    /* background-color: #00eeff; */
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: rgb(255, 0, 0);
    font-size: 16px;
    line-height: 1;
    transition: 0.3s;
  }

  .remove:hover {
    /* background-color: #00eeff; */
    transform: scale(1.5);
  }

  button.checkout-button {
    width: 70%;
    font-size: large;
    font-weight: 600;
    text-align: center;
    /* height: 50px; */
    margin-left: 50px;
    display: block;
    border-radius: 7px;
    padding: 5px;
    border-style: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }

  /* button.checkout-button:hover {
    background-color: #0099ff;
    transform: scale(1.5);
  } */

  button.continue-button {
    border-radius: 7px;
    padding: 5px;
    border-style: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #2f61e0;
    opacity: 1;
    outline: 0;
    color: #fff;
    width: 100%;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn-flip.continue-button:hover:after {
    transform: translateY(0) rotateX(0);
  }
  .btn-flip.continue-button:hover:before {
    transform: translateY(50%) rotateX(90deg);
  }
  .btn-flip.continue-button:after {
    position: absolute;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 4px;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    display: block;
    transition: 0.3s;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  .btn-flip.continue-button:before {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    width: 100%;
    transition: 0.3s;
    content: attr(data-front);
    transform: translateY(+0%) rotateX(0);
  }

  /*button.continue-button:hover {
    background-color: #0099ff;
    transform: scale(1.1);
  } */

  li::marker {
    content: "";
  }

  .product-details {
    padding: 10px;
  }

  body {
    background: #eee;
  }

  .cart {
    background: #ffffff;
    padding: 100px;
  }

  .p-about {
    font-size: 12px;
  }

  .table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
    box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  }

  .type {
    font-weight: 400;
    font-size: 10px;
  }

  .mt-5,
  .my-5 {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
  }

  element.style {
    width: 100%;
    resize: none;
    border-radius: 10px;
    background-color: #eeeeee;
    color: gray;
  }

  label.radio {
    cursor: pointer;
  }

  label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }

  label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
  }

  label.radio input:checked + span {
    border-color: #fff;
    background-color: blue;
    color: #fff;
  }
  .btn-primary {
    background-color: #f4f4f4;
    color: #000;
    border-radius: 10px;
  }

  .credit-inputs {
    background: rgb(102, 102, 221);
    color: #fff !important;
    border-color: rgb(102, 102, 221);
  }

  .credit-inputs::placeholder {
    color: #fff;
    font-size: 13px;
  }

  .credit-card-label {
    font-size: 9px;
    font-weight: 300;
  }

  .form-control.credit-inputs:focus {
    background: rgb(102, 102, 221);
    border: rgb(102, 102, 221);
  }

  .line {
    border-bottom: 1px solid rgb(102, 102, 221);
  }

  .information span {
    font-size: 16px;
    font-weight: 350;
  }

  .information {
    margin-bottom: 5px;
  }

  .items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
    color: #000;
  }

  .spec {
    font-size: 11px;
  }
}
/*Index Body*/

/*Footer*/
footer {
  border-radius: 0%;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 20vh;
  display: grid;
  align-content: end;
  justify-content: end;
  background: chocolate;
  padding: 50px;
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 30px;
  padding-bottom: 0%;
}

.justified-text {
  text-align: justify;
}

footer .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
}

.wrapper .box {
  position: relative;
}

footer .wrapper .box h2 {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .wrapper .box .title {
  color: #333;
}

footer .wrapper .box p {
  font-size: 15px;
}

footer .wrapper .box .icons {
  list-style-type: none;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

footer .wrapper .box .icons a {
  width: 36px;
  height: 36px;
  background: #333;
  display: grid;
  border-radius: 5px;
  place-items: center;
}

footer .wrapper .box .icons a i {
  font-size: 18px;
  color: #fff;
}

footer .wrapper .links a {
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  display: inline-block;
  transition: 0.3s;
}

footer .wrapper .links a:hover,
footer .wrapper .contact li a:hover {
  color: darkgrey;
}

footer .wrapper .contact li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

footer .wrapper .contact li span {
  font-size: 18px;
  color: white;
}

footer .wrapper .contact li a {
  color: white;
}

footer .copyright {
  width: 265%;
  background: none;
  padding: 20px 100px 30px;
  text-align: center;
  font-size: 15px;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/*Footer*/
