@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Header*/
.navbar ul{
	list-style-type: none;
	background-color: chocolate;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
	overflow: hidden;
}

.navbar a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;
}

.navbar a:hover{
	background-color: darkgrey;
}

.navbar li{
	float: right;
	height: 50px;
}

.navbar li.Logo{
	border: 1px;
	float: left;
	height: 50px;
	padding-bottom: 10px;
}

/*Header*/

/*Index Body*/
body {
	background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.index_body_wrapper{
	border: 2px solid #000;
	border-radius: 10px;
	height: auto;
	width: auto;
	margin: 0 auto;
	padding: 10px;
}

ul.index_product_list{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}

ul.index_product_list li{
	height: auto;
	width: 13.9%;
	border: 3px solid #000;
	border-radius: 5px;
	margin: 5px;
	float: left;
}

ul.index_product_list li a{
	text-decoration: none;
	color: #000;
}

ul.index_product_list li a p.product_name{
	max-width: 90%;
	max-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.index_product_list li img{
	width: 100%;
}

.index_clear{
	clear: both;
}
/*Index Body*/

/*Product Body*/
.product_body_wrapper{
	border: 2px solid #000;
	border-radius: 10px;
	height: auto;
	width: auto;
	margin: 0 auto;
	padding: 10px;
}

.product_sidebar{
	border: 1px solid #000;
	height: auto;
	width: 20%;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

ul.category_list{
	padding: 0;
	margin: 0;
	width: 100%;
	border: 1px solid #;
	list-style: none;
	margin: 0 auto;
	line-height: 27px;
}

ul.category_list li{
	margin: 7px;
	padding: 5px;
}

ul.category_list li a{
	text-decoration: none;
	text-align: left;
	color: #000;
	display: block;
}

ul.category_list li:hover{
	background: cadetblue;
}

.product_main_content{
	height: auto;
	width: 78%;
	float: right;
	margin-top: 5px;
	margin-left: 5px;
}

ul.product_list{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}

ul.product_list li{
	width: 23.9%;
	border: 3px solid #000;
	margin: 5px;
	float: left;
}

ul.product_list li a{
	text-decoration: none;
}

ul.product_list li img{
	width: 100%;
}

.product_clear{
	clear: both;
}

/*Product Body*/

/*Product Details Body*/

.product_details_main_content{
	height: auto;
	width: 78%;
	float: right;
	margin-top: 5px;
	margin-left: 5px;
}

.product_details_wrapper{
	height: auto;
	width: 90%;
	margin: 0 auto;
}

.product_details_product_image{
	width: 48%;
	float: left;
}

.product_details_information{
	float: left;
	width: 40%;
}

.add_to_cart{
	background: brown;
	color: #fff;
	padding: 12px;
	font-size: 15px;
	cursor: pointer;
}

.product_details_clear{
	clear: both;
}

/*Product Details Body*/

/*Footer*/
footer{
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 20vh;
	display: grid;
	align-content: end;
	justify-content: end;
	background: chocolate;
	padding: 50px;
	position: relative;
	width: 100%;
	height: auto;
	padding: 40px 50px;
}

footer .wrapper1{
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	gap: 20px;
}

.wrapper1 .box{
	position: relative;
}

footer .wrapper1 .box h2{
	position: relative;
	color: #333;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

footer .wrapper1 .box .title{
	color: #333;
}

footer .wrapper1 .box p{
	font-size: 15px;
}

footer .wrapper1 .box .icons{
	list-style-type: none;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 50px);
}

footer .wrapper1 .box .icons a{
	width: 36px;
	height: 36px;
	background: #333;
	display: grid;
	border-radius: 5px;
	place-items: center;
	text-decoration: none;
}

footer .wrapper1 .box .icons a i{
	font-size: 18px;
	color: #fff;
}

footer .wrapper1 .links a{
	font-size: 15px;
	color: white;
	margin-bottom: 10px;
	display: inline-block;
	transition: 0.3s;
}

footer .wrapper1 .links a:hover, footer .wrapper .contact li a:hover{
	color: darkgrey;
}

footer .wrapper1 .contact li{
	display: grid;
	grid-template-columns: 30px 1fr;
	margin-bottom: 16px;
	p ;
}

footer .wrapper1 .contact li span{
	font-size: 18px;
	color: white;
}

footer .wrapper1 .contact li a{
	color: white;
}

footer .copyright{
	width: 100%;
	background: none;
	padding: 20px 100px 30px;
	text-align: center;
	font-size: 15px;
	color: #333;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/*Footer*/