@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Header*/
.navbar ul{
	list-style-type: none;
	background-color: chocolate;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
	overflow: hidden;
}

.navbar a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;
}

.navbar a:hover{
	background-color: darkgrey;
}

.navbar li{
	float: right;
}

.navbar li.Logo {
	float: left;
}
/*Header*/

/*Index Body*/
body {
	color: white;
	background-image: url(../images/background.jpg) ;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

 .inputBox {
	 margin-bottom: 15px;
 }
.inputBox span {
	display: block;
	margin-bottom: 5px;
}
.error {
	color: red;
	font-size: 0.9em;
}

* {
	font-family: 'Poppins', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	outline: none; border:none;
	text-transform: capitalize;
	transition: all .2s linear;
}

.check-mark {
	width: 100px;
	height: auto;
	color: chocolate;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:25px;
	min-height: 100vh;
}

.success_container {
	text-align: center;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-group {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button-group button {
	padding: 10px 20px;
	cursor: pointer;
	background-color: chocolate;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	margin: 4px;
}

.button-group button:hover {
	background-color: black;
}

.button-container {
	text-align: center;
	margin-top: 20px; /* Add margin for spacing */
}

.button-container button {
	background: none;
	border: none;
	color: chocolate; /* Change color to blue */
	text-decoration: underline;
	cursor: pointer;
}

.container form{
	padding:20px;
	width:700px;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
	display: flex;
	flex-wrap: wrap;
	gap:15px;
}

.container form .row .col{
	flex:1 1 250px;
}

.container form .row .col .title{
	font-size: 20px;
	color:#333;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.container form .row .col .inputBox{
	margin:15px 0;
}

.container form .row .col .inputBox select {
	width: 150px;
	height: 45px;
	font-size: 14px;
	padding: 5px;
	border:1px solid #ccc;
}

.container form .row .col .inputBox span{
	margin-bottom: 10px;
	display: block;
	color: black;
}

.container form .row .col .inputBox input{
	width: 100%;
	border:1px solid #ccc;
	padding:10px 15px;
	font-size: 15px;
	text-transform: none;
}

.container form .row .col .inputBox input:focus{
	border:1px solid #000;
}

.container form .row .col .flex{
	display: flex;
	gap:15px;
}

.container form .row .col .flex .inputBox{
	margin-top: 5px;
}

.container form .row .col .inputBox img{
	height: 31px;
	margin-top: 5px;
	filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
	width: 100%;
	padding:12px;
	font-size: 17px;
	background: chocolate;
	color:#fff;
	margin-top: 5px;
	cursor: pointer;
}

.container form .submit-btn:hover{
	background: black;
}
/*Index Body*/

/*Footer*/
footer{
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 20vh;
	display: grid;
	align-content: end;
	justify-content: end;
	background: chocolate;
	padding: 50px;
	position: relative;
	width: 100%;
	height: auto;
	padding: 40px 50px;
}

footer .wrapper{
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	gap: 20px;
}

.wrapper .box{
	position: relative;
}

footer .wrapper .box h2{
	position: relative;
	color: #333;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

footer .wrapper .box .title{
	color: #333;
}

footer .wrapper .box p{
	font-size: 15px;
}

footer .wrapper .box .icons{
	list-style-type: none;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 50px);
}

footer .wrapper .box .icons a{
	width: 36px;
	height: 36px;
	background: #333;
	display: grid;
	border-radius: 5px;
	place-items: center;
	text-decoration: none;
}

footer .wrapper .box .icons a i{
	font-size: 18px;
	color: #fff;
}

footer .wrapper .links a{
	font-size: 15px;
	color: white;
	margin-bottom: 10px;
	display: inline-block;
	transition: 0.3s;
}

footer .wrapper .links a:hover, footer .wrapper .contact li a:hover{
	color: darkgrey;
}

footer .wrapper .contact li{
	display: grid;
	grid-template-columns: 30px 1fr;
	margin-bottom: 16px;
}

footer .wrapper .contact li span{
	font-size: 18px;
	color: white;
}

footer .wrapper .contact li a{
	color: white;
}

footer .copyright{
	width: 100%;
	background: none;
	padding: 20px 100px 30px;
	text-align: center;
	font-size: 15px;
	color: #333;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/*Footer*/